body{
    background-color: rgb(252, 247, 238);
}

.relative {
    position: relative;
    width: 50%;
    height: 50%;
}
.absolute
{
    position: absolute;
    right: 0;
}
.home-title {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: Opening Hours Sans;
    src: url('/fonts/OpeningHoursSans-Regular.woff') format('woff'),
            url('/fonts/OpeningHoursSans-Regular.woff2') format('woff2');
    font-weight: regular;
    font-style: regular;
}

h1 {
    color:rgb(1,3,138);
    font-family: Opening Hours Sans;
    font-size: 6rem;
    left:auto;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 2;
    
}

h2 {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
    
}

h3 {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
}

h4 {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
}

h5 {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
}

h6 {
    color: black;
    font-family: sans-serif;
    font-size: 0.8em;
}
/* Mobile - tablet: This comment organizes my CSS declaration blocks for up to 800px */
@media (max-width: 800px) {
    body {  /* Apply styles to a specific element (e.g., body) */
        font-size: 2rem;
    }
}

/* Desktop: Breakpoint for minimum 801px */
@media (min-width: 801px) {
    body {
        font-size: 1rem; /* Example: Adjust font size for desktops */
    }
}


img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 500px;
    margin:-250px 0 0 -250px; /* negative half of the width and height */
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.nav-bar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Opening Hours Sans;
    font-size: 17px;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out; /* smooth zoom effect */
    display: inline-block; /* ensures transform works properly */
}

.nav-bar a:hover {
    transform: scale(1.2); /* zoom in effect */
}
